@import "nord.css";

/* Variables */
:root{
    --font-family: Roboto, Helvetica, Arial, sans-serif;    
}

/* Reset some styles */
html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Layout */
body{
    font-family: var(--font-family);
    background-color: var(--nord6);
    color:var(--nord0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    margin: 1rem;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .icon{
    margin: .5rem;
    stroke: var(--nord3);
    cursor: pointer;
}

footer .icon:hover{
    stroke: var(--nord9);
}

/* Helpers */
.text-center{
    text-align: center;
}

.debug{
    /* border: 1px solid red; */
}

/* Content */
#greeting{
    font-size: 2rem;
    margin: .5rem 0;
}

#bookmarks{
    border: 1px solid yellow;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    align-items: stretch;
    align-content: stretch;
}


.bookmark-group{
    border: 1px solid red;
    margin: .5rem 1rem;
    padding: .5rem;
    width: 200px;
}

.bookmark-list{
    list-style: none;
    padding-left: 0;
}

.bookmark-category{
    font-weight: bold;
}

/* Dark Mode */
@media (prefers-color-scheme: dark){
    body{
        background:var(--nord0);
        color: var(--nord5);
    }

    footer{
        color: var(--nord8);
    }

    footer .icon{
        stroke: var(--nord10);
    }

    footer .icon:hover{
        stroke: var(--nord5);
    }
}